[submodule "swift-corelibs-libdispatch"]
	path = swift-corelibs-libdispatch
	url = https://github.com/swiftlang/swift-corelibs-libdispatch
[submodule "apple-corefoundation"]
	path = apple-corefoundation
	url = https://github.com/trunkmaster/apple-corefoundation
